*{
	margin: 0;
	padding: 0
}
.main{
		height: 100vh;
		background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("Capture.jpg");
		background-position: center;
		background-size: cover;
		
	background-attachment: fixed;
	background-size: 100% 100% ;

		overflow-x: hidden;
		position: relative;
	}

body{
	font-family: arial;
}

.navBar{
	display: flex;
	padding: 40px 120px;
}
.navLogo img{
	width: 90px;
}
.navLinks{
	flex: 1;
}
.navLinks ul{
	margin-left: 130px;
	display: inline;
}
.navLinks ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navLinks ul a{
	color: white;
	text-decoration:border-bottom-style;
	font-size: 20px;
}
.navLinks ul b{
	color: yellow;
text-decoration:border-bottom-color;
	font-size: 20px;
}
.navLinks ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: skyblue;
	display: block;
	margin: auto;
	transition: .5s;
}
.navLinks ul li:hover::after{
	width: 100%;
}
.search{
	position: absolute;
	top: 8%;
	left: 80%;
	transform: translate(-50%,-50%);
}
.search input{
	border: 3px white;
	height: 35px;
	width: 115px;
	border-radius: 40px;
	padding: 0px 10px;
}